.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  border-radius: 6px;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.faq-content {
  max-height: 0;
  overflow: hidden;

  transition: all 0.5s;
}

.activeFAQ {
  max-height: 500px;
}

.product_card {
  transition: all 0.3s;
}

.product_card:hover {
  background: var(--primary);
  color: #fff;
}

.buy_btn {
  transition: all 0.3s;
}

.product_card:hover .buy_btn {
  background: #fff;
  color: var(--primary);
}
